.right_wrap {
  float: left;
  height: calc( 100% - 2px);
  width: 100%;
  overflow: hidden;
  // :global .ant-pro-grid-content{
  //   flex: 1;
  // }
  // :global .ant-pro-page-container-children-content{
  //   margin: 0;
  //   height: 100%;
  // }
  // :global  .ant-pro-grid-content-children{
  //   height: 100%;
  // }
}

.graph_wrap {
  height: calc(100% - 40px);
  overflow-y: hidden;
  display: flex;
  .graph_part {
    width: 70%;
    height: 100%;
    overflow-y: auto;
    padding: 0px;
    border-right: 8px solid #1890ff;
  }
  .config_part{
    width: 30%;
    height: 100%;
    overflow-y: auto;
  }
}


// .canvas_wrap {
//   width: 100%;
//   height: 100%;
// }

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// .right_wrap ::-webkit-scrollbar-track {
//   border-radius: 8px;
//   background-color: #aaa;
//   -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
// }

// .right_wrap ::-webkit-scrollbar-thumb {
//   border-radius: 8px;
//   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//   background-color: #1890FF;
// }

// .ant-tabs-top>.ant-tabs-nav {
//   margin: 0 !important;
// }

// .btn_wrap {
//   button {
//     float: right;
//     margin: 0 10px;
//   }
// }


.ant-pro-basicLayout-content {
  position: relative;
  margin: 24px;
}
